<h2>Here are the saved numbers for <%= @contact.name() %></h2>

<ol>
  <% @contact.get_number().each() do |number| %>
  <li><a href="/numbers/<%= number.id() %>"><%= number.number() %></a></li>
  <% end %>
</ol>

<a href="/">Return to Directory</a>
